body{
    background-color: grey ;
}


.modal{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    width: 400px;
    background-color: white;
    border-radius: 5px;
}

.header{
    background-color: #337AB7;
    padding: 15px 10px; 
}

.header > h1 {
    color: white;
    font-size: 24px;
    margin: 0;
    display: flex;

}
.header > img{
    width:  15px;
    height: 15px;
}
.content {
    border-bottom: 1px solid grey;
}
 p {
    padding: 0 15px;
    font-size:14px;
}

.footer {
    padding: 15px;
    text-align: right;
}
.footer > * {
    margin-right: 20px;
}

.footer > *: :last-child{
    margin-right: 5px;
}

button {
    padding: 8px 14px;
    color: white;
    border: 0 solid;
    border-radius: 5px;

}

button:hover {
    box-shadow: 5px 5px 10px;
}

.confirmButton{
    background-color: #337AB7;
 }
.saveButton {
    background-color: #5CBB5B;
 }
  }
.confirmButton:hover {
    background-color: yellow;
}
.cancelButton {
    background-color: #DDDDD;
    color: black;
}
  }